<h3>{{ listeClient}}</h3>

<!-- new quiz -->
<p>
  <a routerLink="new" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau client
  </a>
</p>

<!-- quiz list -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>Clients</th>
    <th>Actions</th>
    <th>Comptes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of listClient">
      <td>{{ client.nom }} {{client.prenom}}</td>
      
    
    <td>
      <a [routerLink]="['/clients', client.id]" class="btn btn-default btn-sm" target="_blank">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
      </a>
      <a [routerLink]="[client.id]" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
      </a>
      <button class="btn btn-danger btn-sm" (click)="deleteClient(client)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
      </button>
    </td>
    <td>
      <a [routerLink]="[]" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Gérer les comptes
      </a>
    </td>
  </tr>
  </tbody>
</table>